# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.png
/captures

# Configuration files
local.properties
.android-sdk/
.android-avd/
.android-home/
graphify-out/
**/graphify-out/

# macOS specific files
.DS_Store
